.MainInformacion{
    background: url('../assets/BackgroundH.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;

    .container-informacion{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 40px;
        gap:50px;
        
    }
    .paper-informacion{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 95%;
        height: 100%;
        border-radius: 15px;
        padding: 15px;
        gap: 20px;
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.398);
    h1{
        text-align: center;
        font-weight: bold;
    }
    p{
        align-items: start;
        text-align: justify;
    }
    }
    .button-info{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .button-back{
        display: flex;
        flex-direction: row;
        padding: 35px;
        width: 100%;
        height: 30px;
        justify-content: start;
        align-items: center;
    }
    .container-papersc{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        grid-gap: 20px;
        width: 100%;
        height: 100vw;
        padding: 20px;
        margin-bottom: 40px;
        h5{
            text-align: center;
            font-weight: bold;
        }
        p{
            text-align: justify;
            text-overflow: ellipsis;
        }

    }
    .space-b{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .list-informacion{
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 100%;
        gap: 55px;
        justify-content: center;
        align-items: center;
        
        .papers-informacion{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 50%;
        height: 100%;
        border-radius: 15px;
        padding: 15px;
        gap: 20px;
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.398);
        h2{
            text-align: center;
            font-weight: bold;
        }
        p{
            text-align: justify;
        }
        li{
            text-align: justify;
        }
        }
    }
    @media only screen and (max-width: 900px) {
        .container-informacion{
            height: auto;
        }
        .list-informacion{
            flex-direction: column;
            .papers-informacion {
                width: 100%;
            }
        }
        .button-back button{
            width: 100%;
        }
        .button-info button{
            width: 100%;
        }
        .container-papersc{
            display: flex;
            flex-direction: column;
            height: 1400px;
            margin-bottom: 120px;
        }
    }


}
.MainInformacion::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.MainInformacion::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
  
.MainInformacion::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 10px;
}

@keyframes fadein {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}
