.MainModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    background-color: white;
    box-shadow: 24;
    h1{
        padding: 10px;
    }

    .container-modal{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
        overflow-y: auto;

        .container-cardqr{
            width: 100%;
            margin-bottom: 20px;
        }
        .card-qr{
            display: grid;
            grid-template-columns: 10fr 10fr ;
            place-items: center;
            grid-gap: 20px;
            width: 100%;
            height: 100%;
        }
        .dialog-modal{
            background: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;    
            width: 90%;
            height: 100%;
            padding: 20px;
            gap: 20px;
            box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.2);
        }
        .message{
            background-color: white;
            position: sticky;
            display:flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 5px;
            bottom: 0;
            z-index: 10;
            .seleccionar{
                width: 80.2%;
            }
            .area-txt{
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap:8px;
                .inputmessage{
                width: 80%;
                outline: 0;
                }
                button{
                    width:19%
                }
            }
            
        }
    }
    .container-modal::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
      
    .container-modal::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }
      
    .container-modal::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
        border-radius: 10px;
    }
}


.MainMedic{
    background: url('../assets/BackgroundH.png') no-repeat;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;

    .container-medic{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 100%;
        gap: 40px;
        padding: 10px;
        
    }
    .navbarList{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: start;
        align-items: center;
        z-index: 10;
    }
    .navitem{
        background-color: #FFFFFF;
        border-radius: 20px;
        border-color: rgb(180, 180, 180);
        border-width: 1px;
        border-style: solid;
        justify-content: center;
        align-items: start;
        width: 20%;
        gap: 35px;
        z-index: 10;
        position: sticky;
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.1);
    }
    .container-tab{
        margin-top: 10px;
        background: #FFFFFF;
        display: grid;
        grid-template-columns: auto;
        border-radius: 10px;
        width: 90%;
        min-height: calc(100vh - 214px);
        justify-content: start;
        align-items: start;
        padding: 20px;
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.326);
        z-index: 10;
        overflow-y: auto;
    }
    .container-tab::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }
      
      .container-tab::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }
      
      .container-tab::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
        border-radius: 10px;
    }
    .dropdown{
        width: 80%;
        padding: 10px;
        margin-left: 30px;
        justify-content: start;
        align-items: start;
        text-align: start;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .content-card{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .card{
        display:flex;
        flex-direction:row;
        width:80%;
        height: 105px;
        border-radius:10px;
        border-color:blue;
        padding:15px;
        gap: 20px;
        justify-content: start;
        align-items: start;
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.19);
    }
    .card-izq{
        height: 100%;
        width: 90%;
        gap: 20px;
        .textname{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            cursor:default;
        }
    }
    .card-der{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 100%;
    }
    li:hover{
        cursor:pointer;
    }
}
.container-modalmedic{
    display: flex;
    flex-direction: column;
    
    background: #FFFFFF;
    width: 80%;
    height: 80%;
}

@keyframes fadein {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}
